@model User
<a class="float-right" href="/exiting">logout</a>
<div class="row">
    <div class="col">

    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h1 class="text-success" >S U C C E S S</h1>
        <h3>@Model.FirstName</h3>
    </div>
</div>
<div class="row">
    <div class="col"></div>
</div>